<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBorXBJKK4g0zGzD27nzyd2uJOnRGjHI28</string>
	<key>GCM_SENDER_ID</key>
	<string>151385959138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeoni.Orang</string>
	<key>PROJECT_ID</key>
	<string>orang-9f2fe</string>
	<key>STORAGE_BUCKET</key>
	<string>orang-9f2fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151385959138:ios:cae5993aa9e9cc0eda0cbb</string>
</dict>
</plist>